* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f7f7f7;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.slider {
  position: relative;
  display: inline-block;
}

#imageBox {
  width: 700px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

#prev,
#next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: rgb(0, 0, 0);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  transition: background 0.3s;
}

#prev {
  left: -60px;
}

#next {
  right: -60px;
}

#prev:hover,
#next:hover {
  background: rgba(0, 102, 255, 0.443);
}
body{
  background: rgb(243, 240, 228);
}