*
{
    box-sizing: border-box;
    font-family: Inter;
    margin: 0px;
}
::selection{
    background-color: #514f4432;
}

.py-50
{
    padding: 50px;
}

:root
{
    --primary-text:#C96442;
    --background: #F5F0EA;
}

.background
{
    background-color: var(--background);
}
.text-justify
{

    text-align: justify !important;
}
.text-grey
{

    color: #5C5650;
    font-weight: 500;
}
.primary-text
{
    font-weight: 500;
    color: var(--primary-text) !important;
}

.italic
{

    font-style: italic;
}

.letter-spacing
{

    letter-spacing: 2px;
}

.navigation .nav-logo
{
    width: 30px;
    height: 35px;
}
.chapter-banner
{
        background-image: url("../img/banner.jpg");
        background-position: bottom ;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 150px;
}

.banner 
{
    min-height: 500px;
    position: relative;
    background-image: url("../img/banner.jpg") ;
    background-position: center; 
    background-size: cover;
    background-repeat: no-repeat; 
    z-index: -1;
}

.banner::before
{
    content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        background-image: linear-gradient(rgba(0, 0, 0, 0.4),
                rgba(0, 0, 0, 0.2),
                rgba(13, 13, 13, 0.3),
                rgba(13, 13, 13, 0.3),
                rgba(255, 255, 255, 0.6),
                rgba(255, 255, 255, 1),
                rgba(255, 255, 255, 1));
        z-index: 0;
}

.banner-text
{
    width: 100%;
    text-align: center;
    justify-items: center;
    font-weight: 600;
    position: absolute;
    z-index: 5;
}

.banner-text .btn-banner
{
    width: 200px;
    height: 50px;
    background-color: #C96442   !important;
    color: white;
    border: 1px solid transparent !important;
    align-content: center;
    transition: all ease-in-out 0.4s;
}

 .banner-text .btn-banner:hover
{
    border: 1px solid var(--primary-text) !important;
    color: #C96442 !important;
    background-color: transparent;
}


.banner-text h1
{
    font-size: 65px ;
}

.slokbox-section .card
{
    width: 100%;
    padding: 20px;
}

.card-text 
{
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

.card .card-title
{
    font-weight: 600;
    color: var(--primary-text);
}

.chapter-section .card-title
{
    font-weight: 500;
}

.chapter-section .btn:hover , 
.navigation .btn:hover , 
.slokbox-section .btn:hover ,
.form-body .btn:hover
{
    background-color: transparent !important;
    border: #C96442 solid 1px !important ;
    color: #C96442 !important ;
    cursor: pointer !important;

}   
.chapter-section .card-text
{

    text-align: justify !important;
    
}
.chapter-section .card
{
    transition: all ease-in 0.4s;
}
.chapter-section .card:hover
{
    background-color: transparent !important;
        border: #C96442 solid 1px !important;
        box-shadow: 5px 5px 10px rgba(194, 194, 194, 0.749);

}
.verseContent
{

    padding: 35px !important;
    justify-items: center;
    border-top: 1px solid rgb(255, 238, 238);
    transition: all 0.2s ease-out;
}

.verseContent:hover 
{

    padding: 10px;
    justify-items: center !important;
    background-color: #F7F1EB;
    border-top: 1px solid transparent;
}

#verseSlok  .card{

    border: 0px solid transparent !important;
}

.form-section form{

    margin-top: 70px;
    padding-left: 40px;
}

.form-body input
{

    width: 100%;
    margin-bottom: 30px;
    outline: none;
    padding: 10px;
}

.form-body .btn
{

    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-section .row
{
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    padding: 0px;
}
.form-section .col-7, .col-4
{
    padding: 0px;
}
.gita-poster 
{
    height: 100%;
    border-radius: 30px;
}

.img-text
{
    padding: 20px;
    bottom: 10px;
    transform: translateX(100px);
    width: auto;
    height: auto;
    font-size: 13px;
    background-color: white;
    border-radius: 30px;
 

}

.accordion-item{

    margin-bottom:10px;
    outline: transparent 1px solid;
}

.accordion-item .accordion-button{

    padding: 30px !important;
    background-color: rgb(255, 255, 255) !important;
    transition: all 0.2s ease-in-out;
  
   
}

.accordion-item .accordion-button:hover 
{
    background-color: #F8F7F4 !important;
}

.accordion-button:focus,
.accordion-button:active {
    outline: none !important;
    box-shadow: none !important;
}

.accordion-item  .accordion-collapse .accordion-button:hover {

    background-color: #F8F7F4 !important;
}


.footer {
    background-color: transparent;
    color: #54525297;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

.footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-section {
    flex: 1 1 200px;
}

.footer-section h3,
.footer-section h4 {
    margin-bottom: 15px;
    color: rgb(64, 64, 64);
    font-weight: 500;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: #54525297;
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.end-section img
{
    width: 140px;
    height: 40px;
    right: 0px;

}