* {
    box-sizing: border-box;
    font-family: Inter;
    margin: 0px;
}

::selection{

    background-color: rgb(255, 248, 237);
}

.salesMsgbox {

    background-color: #EDE1D0;
    color: #777168;
    font-size: 16px;
    text-align: center;
}

.salesMsgbox p {
    padding: 9px;
    margin: 0px;
}
a{
    color: inherit !important;
    text-decoration: none !important ;
}

ul,
li {

    list-style: none;
}

.nav-bar nav{
    padding: 22px;
}

.nav-bar .navlink {
    font-weight: 600;
    color: black;
    display: none;
    cursor: pointer;
}

.nav-bar .navlink:hover  {
    display: block;
    
}

.navBar-logo img {
    width: 180px;
    height: 50px;
    display: inline-block;
}

.addProduct-heading {

    margin-top: 60px;
}

.addProduct-heading span{

    display: inline-block;
    margin: 5px ;
}
.addProduct-heading  h2{

    margin-bottom: 60px;
}

