*{
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
}
#circle{

    width: 150px;
    height: 150px;
    border-radius: 100%;
    color: rgb(255, 255, 255);
    align-content: center;
    font-size: 20px;
    background-color: rgb(112, 31, 44);
}

.container{
    text-align: center;
    justify-items: center;
}

button{

    background-color: black;
    color: white;
    border-radius: 2px;
    border: transparent 1px solid;
    padding: 5px;
    width: 75px;
    transition: all ease 0.4s;
    cursor: pointer;
}

button:hover{

    background-color: white;
    color: black;
    border: 1px solid black ;
}



