*{
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
}
#circle{

    width: 150px;
    height: 150px;
    border-radius: 100%;
    color: rgb(255, 255, 255);
    align-content: center;
    font-size: 20px;
    background-color: rgb(112, 31, 44);
}

.container{
    text-align: center;
    justify-items: center;
}

button{

    background-color: black;
    color: white;
    border-radius: 2px;
    border: transparent 1px solid;
    padding: 5px;
    width: 75px;
    transition: all ease 0.4s;
    cursor: pointer;
}

button:hover{

    background-color: white;
    color: black;
    border: 1px solid black ;
}


.quote {
    display: flex;          
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 100px;
    color: black;
    background-color: rgb(244, 244, 144);
    border-radius: 5px;
    border: 3px solid rgb(247, 247, 29);
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;          
    text-align: center;
}

#quoteBox {
    padding: 5px;
    line-height: 1.3;
}
#popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: none;  
    justify-content: center;
    align-items: center;
}

#popupBox {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}







